body{
    font-family:'Mulish';
}

.darkblue{
    background-color: #0A223D;
    color: #fff;
}

h6{font-size:10px;}

h5{font-size:15px;
margin: 0;}


.menu{
    margin-left: 3% !important;
}

.icon{
    width: 16px;
    margin-right: 15px;
}

